In [1]:
%load_ext autoreload
%autoreload 2

In [15]:
from make_plan import *
from preprocesing import *
import pandas as pd


trips = load_input_dataframe()
people_in_cities = pd.read_json("data/same_city_people.json")
t = dict(trips.iloc[0])

trip = Trip(
    user=t["Traveller Name"],
    interests=t["Activities"],
    depart_city=t["Departure City"],
    arrival_city=t["Arrival City"],
    depart_date=t["Departure Date"],
    return_date=t["Return Date"],
)

trip.add_trip_features(trips, people_in_cities, events=get_fake_events())
# p2
# trip.depart_date
# add_trip_features(trips)
# demo_suggest_event()

/home/ale/miniconda3/envs/hackupc/lib/python3.10/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

In [16]:
trip.friends

[['Anderson Hudson', 'Parker Robertson', 'Zane Osborne'],
 ['Anderson Hudson', 'Parker Robertson', 'Zane Osborne'],
 ['Adrianna Price', 'Anderson Hudson', 'Parker Robertson', 'Zane Osborne'],
 ['Adrianna Price', 'Anderson Hudson', 'Parker Robertson', 'Zane Osborne'],
 ['Adrianna Price', 'Anderson Hudson', 'Parker Robertson', 'Zane Osborne'],
 ['Adrianna Price', 'Anderson Hudson', 'Parker Robertson', 'Zane Osborne'],
 ['Adrianna Price', 'Anderson Hudson', 'Parker Robertson', 'Zane Osborne']]

In [14]:
trip.events

[(tensor(2),
  {'Name': 'Food festival', 'Type': 'food', 'Date': '2024-02-01'},
  tensor([[0.3282],
          [0.0696],
          [0.4427]])),
 (tensor(2),
  {'Name': 'Food festival', 'Type': 'food', 'Date': '2024-02-01'},
  tensor([[0.3282],
          [0.0696],
          [0.4427]])),
 (tensor(2),
  {'Name': 'Food festival', 'Type': 'food', 'Date': '2024-02-01'},
  tensor([[0.3282],
          [0.0696],
          [0.4427]])),
 (tensor(2),
  {'Name': 'Food festival', 'Type': 'food', 'Date': '2024-02-01'},
  tensor([[0.3282],
          [0.0696],
          [0.4427]])),
 (tensor(2),
  {'Name': 'Food festival', 'Type': 'food', 'Date': '2024-02-01'},
  tensor([[0.3282],
          [0.0696],
          [0.4427]])),
 (tensor(2),
  {'Name': 'Food festival', 'Type': 'food', 'Date': '2024-02-01'},
  tensor([[0.3282],
          [0.0696],
          [0.4427]])),
 (tensor(2),
  {'Name': 'Food festival', 'Type': 'food', 'Date': '2024-02-01'},
  tensor([[0.3282],
          [0.0696],
          [0.4427]]))]

In [3]:
people_in_cities

,arrival_city,date,people,num_people
0,Barcelona,2024-08-09,"[Anika Mccoy, Dante Kline]",2
1,Barcelona,2024-08-10,"[Anika Mccoy, Dante Kline]",2
2,Barcelona,2024-08-11,"[Anika Mccoy, Dante Kline]",2
3,Barcelona,2024-08-12,"[Anika Mccoy, Dante Kline]",2
4,Barcelona,2024-08-13,"[Anika Mccoy, Dante Kline]",2
5,Barcelona,2024-08-14,"[Anika Mccoy, Dante Kline]",2
6,London,2024-08-19,"[Aliza Mullins, Paula Hays]",2
7,London,2024-08-20,"[Aliza Mullins, Paula Hays]",2
8,London,2024-08-21,"[Aliza Mullins, Paula Hays]",2
9,London,2024-08-22,"[Aliza Mullins, Paula Hays]",2
10,London,2024-08-23,"[Aliza Mullins, Paula Hays]",2
11,London,2024-08-24,"[Aliza Mullins, Paula Hays]",2
12,London,2024-08-25,"[Aliza Mullins, Paula Hays]",2
13,Madrid,2025-01-05,"[Charlotte Shepherd, Regan Solis]",2
14,Madrid,2025-01-06,"[Charlotte Shepherd, Regan Solis]",2
15,Madrid,2025-01-07,"[Charlotte Shepherd, Regan Solis]",2
16,Madrid,2025-01-08,"[Charlotte Shepherd, Regan Solis]",2
17,Madrid,2025-01-09,"[Charlotte Shepherd, Regan Solis]",2
18,Madrid,2025-01-13,"[Charlotte Shepherd, Simeon Mercer]",2
19,Paris,2024-08-18,"[Anderson Hudson, Parker Robertson, Zane Osborne]",3
20,Paris,2024-08-19,"[Anderson Hudson, Parker Robertson, Zane Osborne]",3
21,Paris,2024-08-20,"[Adrianna Price, Anderson Hudson, Parker Rober...",4
22,Paris,2024-08-21,"[Adrianna Price, Anderson Hudson, Parker Rober...",4
23,Paris,2024-08-22,"[Adrianna Price, Anderson Hudson, Parker Rober...",4
24,Paris,2024-08-23,"[Adrianna Price, Anderson Hudson, Parker Rober...",4
25,Paris,2024-08-24,"[Adrianna Price, Anderson Hudson, Parker Rober...",4
26,Paris,2024-08-25,"[Adrianna Price, Parker Robertson]",2

In [39]:
people_in_city = people_in_cities[
    (people_in_cities["arrival_city"] == "Paris")
    & (people_in_cities["date"] == trip.depart_date)
]
people_in_city['people'].values[0]

"['Anderson Hudson', 'Parker Robertson', 'Zane Osborne']"